@import "node_modules/bootstrap/scss/bootstrap";
$bg-primary: #EF8354; //Lightt Red Ochre
$bg-secondary: #153243; //Yankees Blue
$bg-info: #8addff; //Pale Cyan
$bg-dark: #4F5D75; //Black Coral
$bg-light: #F7F9FD; //Ghost White



